# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/

# Visual Studio Code
.vscode/
*.code-workspace

# Rider
.idea/
*.sln.iml
*.DotSettings.user

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup & restore
*.bak
*.swp
*~

# NuGet
*.nupkg
*.snupkg
.nuget/

# Entity Framework
*.edmx.diagram

# Test Results
TestResults/
*.trx

# OS files
.DS_Store
Thumbs.db

# IDE Files
.classpath
.project
.c9/
*.launch
.settings/
*.sublime-workspace

# Build Folders
/artifacts/

# Dependencies
/packages/
node_modules/

# Environment variables
.env
.env.local

# Misc
.vscode-test/
*.log

sampledata/